@using MVE.Core.Models.Others;
@using MVE.Core.Code.LIBS;
@model MVE.Admin.ViewModels.CategoryViewModel
@{
    ViewData["Title"] = "category";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var msg = ViewBag.delete;
}

@section styles {
    <link rel="stylesheet" href="~/lib/DataTables-1.10.20/css/dataTables.bootstrap4.min.css" />
    <link href="~/css/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/css/bootstrap-switch.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2.css" rel="stylesheet" />
    <link href="~/css/datepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/lib/alertifyjs/css/alertify.min.css" rel="stylesheet" />
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>category</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Admin/Dashboard/Index">Dashboard</a></li>
                    <li class="breadcrumb-item active">Category @ViewBag.delete</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="card">
        <partial name="_Notification" />
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="ParentId" />
        @if (@ViewBag.delete !=null)
        {
            <div id="Deletemsg" class="alert alert-success alert-dismissable"> @ViewBag.delete</div>
        }

       @*  <div id="Delcetemsg" class="alert alert-success alert-dismissable"> @ViewBag.delete</div> *@
        <div id="categoryMessageDiv" class="alert alert-success alert-dismissable" style="display:none"> </div>
        <div class="card-header">
            <div class="d-flex justify-content-between flex-wrap">
                <div class="card-flex">
                    <div class="row">
                        <div class="prop-col-2">
                            <select id="ddlItemStatus" class="form-control btn btn-info btn-sm ddlFltr">
                                <option value="" selected="selected">All</option>
                                <option value="true">Active</option>
                                <option value="false">InActive</option>
                            </select>
                        </div>
                        @*  <div class="prop-col-2">
                        <div class="input ltr calendar-field">
                        <label class="fa fa-calendar">&nbsp;</label>
                        <input type="text" id="fltrStartDate" placeholder="Start Date" class="form-control fltrSDate" />
                        </div>
                        </div>
                        <div class="prop-col-2">
                        <div class="input ltr calendar-field">
                        <label class="fa fa-calendar">&nbsp;</label>
                        <input type="text" id="fltrEndDate" placeholder="End Date" class="form-control fltrEDate" />
                        </div>
                        </div> *@
                    </div>
                </div>
                @if (Model.ParentId != 0 || Model.ParentId != null)
                {
                    <div class="card-tools">
                        <a id="Index" href="/Admin/Category/Index" class="btn btn-info btn-infoEx">
                            Back
                        </a>
                    </div>
                }
                <div class="card-tools">
                    <a oncontextmenu="return false" id="AddEditCategory" data-toggle="modal" asp-action="AddEditCategory" asp-controller="Category" data-target="#modal-add-edit-category" class="btn btn-block bg-gradient-success">
                        <i class="fa fa-plus"></i> Add New
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="grid-category-details" class="table table-bordered custom-grid-table table-condensed">
                    <thead>
                        <tr>
                            <th>category ID</th>
                            <th width="2%">S.No.</th>
                            <th width="15%">Image</th>
                            <th width="15%">Name</th>
                            <th width="25%">Description</th>
                            <th width="20%" style="padding-left: 30px;">Created Date</th>
                            @if (Model.ParentId == 0 || Model.ParentId == null)
                            {
                                <th width="2%">Sub-Category</th>
                            }
                            else
                            {
                                <th width="2%" class="d-none">Sub-Category</th>
                            }
                            <th width="10%">Status</th>
                            <th width="20%">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot></tfoot>
                </table>
            </div>
        </div>
        <div class="card-footer">
        </div>
    </div>
</section>




@{
    var addEditcategoryModel = new Modal { ID = "modal-add-edit-category", AreaLabeledId = "modal-add-edit-category-label", Size = ModalSize.Medium };
    var viewcategoryModel = new Modal { ID = "modal-view-category", AreaLabeledId = "modal-view-category-label", Size = ModalSize.Medium };
    var viewvisaguidecategoryModel = new Modal { ID = "modal-view-visaguide", AreaLabeledId = "modal-view-visaguide-label", Size = ModalSize.XLarge };
    var deletecategoryModel = new Modal { ID = "modal-delete-category", AreaLabeledId = "modal-delete-category-label", Size = ModalSize.Medium };
}
<partial name="_Modal" model="addEditcategoryModel" />
<partial name="_Modal" model="deletecategoryModel" />
<partial name="_Modal" model="viewcategoryModel" />
<partial name="_Modal" model="viewvisaguidecategoryModel" />
@section scripts {
    <script src="~/lib/select2/js/select2.js"></script>
    <script src="~/lib/DataTables-1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/DataTables-1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/bootstrap-switch.js"></script>
    <script src="~/js/jquery.fancybox.js"></script>
    <script src="~/js/datepicker/moment.min.js"></script>
    <script src="~/js/datepicker/daterangepicker.min.js"></script>
    <script src="~/js/custom/category/index.js" asp-append-version="true"></script>
    <script src="~/lib/alertifyjs/alertify.js"></script>


}