@using TCP.Core.Code.LIBS;
@model TCP.Web.ViewModels.ChangePasswordViewModel
@{
    var domain = @SiteKeys.Domain;
    ViewData["Title"] = "Change Password";
}

<form method="post" asp-controller="Dashboard" asp-action="ChangePassword" asp-controller="AdminUser" id="frm-user-change-password">
    <input type="hidden" asp-for="UserId" />
    <div class="form-group">
        <label class="req" for="OldPassword">Old Password</label>
        <div class="lgnscrn">
            <input asp-for="OldPassword" class="form-control lock-icon oldpassword_id " placeholder="Old Password" type="password" />
            <i class="fa fa-eye-slash user-toggle_oldpwd" ></i>
        </div>
        <span asp-validation-for="OldPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="req">New Password</label>
        <div class="lgnscrn">
            <input asp-for="NewPassword" type="password" class="form-control password_id lock-icon " placeholder="Enter Password">
            <i class="fa fa-eye-slash user-toggle_pwd" ></i>
        </div>
        <span asp-validation-for="NewPassword" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label class="req">Confirm Password</label>
        <div class="lgnscrn">
            <input type="password" asp-for="ConfirmPassword" class="form-control lock-icon" placeholder="Re Enter Password">
        </div>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <div class="form-group text-center m-0">
        <button type="submit" class="btn-custom">Submit</button>
    </div>

</form>


<!-- /.content -->
@await Html.PartialAsync("_ValidationScriptsPartial")
<script src="~/js/custom/dashboard/change-password.js" asp-append-version="true"></script>
