@using TCP.Core.Code.LIBS;
@model TCP.Core.Models.Others.ModalHeader
<div class="modal-header custom-modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title"><img src="@SiteKeys.Domain/images/logo.png" class="popuplogo" /> <span class="modaltitlespantext">@Model.Heading</span></h4>
</div>