@model TCP.Core.Models.ResetPasswordViewModel
@using TCP.Core.Code.LIBS;
@{
    ViewData["Title"] = "Reset password";
     Layout = "~/Views/Shared/_ExternalLayout.cshtml";
}
<div class="login-logo">
    <b>Reset</b> Password
</div>
<div class="card" style="width:435px">
    <div class="card-body login-card-body">
@if (!string.IsNullOrEmpty(Model.Id) && Model.Id != "0")
{
    <form method="post">
        <partial name="~/Views/Shared/_Notification.cshtml" />
        <input type="hidden" asp-for="Id" />

        <div class="row no-gutters">
            <div class="col-md-6">
                <div class="bg-block text-center">
                    <h3>Welcome to</h3>
                    <img src="@SiteKeys.Domain/images/dark-logo.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-block">

                    <div class="input-group mb-3">
                        <div class="lgnscrn">
                            <input asp-for="Password" type="password" class="form-control" placeholder="New Password">
                        </div>
                        <span asp-validation-for="Password"></span>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="lgnscrn">
                            <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password">
                        </div>
                        <span asp-validation-for="ConfirmPassword" class="required-erro"></span>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            @*  <p class="mb-1 forgot-pass text-left">
                        <a href="~/Account/Index">Sign In</a><br>
                        </p> *@
                        </div>
                        <div class="col-5 forgot-btns">
                            <button type="submit" class="btn btn-primary btn-block btn-submit">Submit</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
}
else if (Model.Id == "0")
{
    <div class="text-center text-red"><p>Error. Something went wrong !!!</p></div>
}
else
{
    <div class="text-center text-red"><p>Your reset password link is invalid. Please go for forgot password again</p></div>
}
    </div>
</div>


